@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

header {
    width: 100%;
    display: flex;
}

body {
    margin: 0;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.container {
    width: 990px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.headerTop {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: dotted 1px #000;
    padding-bottom: 10px;
    margin-top: 15px;
}

.border {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.itinerary-detail-not-selected.ng-star-inserted {
    width: 990px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

itinerary-packaged-list-item.ng-star-inserted {
    width: 990px;
    margin-top: 16px;
    display: block;
}

.one-way.ng-star-inserted {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.one-way.ng-star-inserted {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.d-main {
    display: grid;
    grid-column-gap: 8px;
    padding: 16px 0 16px 24px;
    grid-template-columns: 330px 1fr 110px;
}

.column1 {
    display: grid;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 220px 110px;
}

.f-op.ng-star-inserted {
    display: grid;
    grid-template-columns: 35px 160px;
    grid-gap: 12px;
}

.f-op-icon {
    margin-right: 0;
}

.f-op-icon[_ngcontent-wkq-c228] img[_ngcontent-wkq-c228] {
    width: 28px;
    height: 28px;
}

.f-op[_ngcontent-wkq-c228] .f-op-detail[_ngcontent-wkq-c228] {
    height: 17px;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: -.22px;
    color: #646464;
}

.f-op[_ngcontent-wkq-c228] .f-op-detail[_ngcontent-wkq-c228] .f-op-detail-itm[_ngcontent-wkq-c228] {
    display: -ms-flexbox;
    display: flex;
}

.f-op[_ngcontent-wkq-c228] .f-op-detail[_ngcontent-wkq-c228] .f-op-detail-itm[_ngcontent-wkq-c228] .f-op-name[_ngcontent-wkq-c228] {
    font-weight: 600;
    white-space: nowrap;
}

.f-op[_ngcontent-wkq-c228] .f-op-detail[_ngcontent-wkq-c228] .f-baggage[_ngcontent-wkq-c228] {
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -.22px;
    color: #000;
    margin-right: 4px;
}

.f-op[_ngcontent-wkq-c228] .f-op-detail[_ngcontent-wkq-c228] .f-baggage[_ngcontent-wkq-c228] img[_ngcontent-wkq-c228] {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.f-arr-hour[_ngcontent-wkq-c228], .f-dep-hour[_ngcontent-wkq-c228] {
    height: 29px;
    font-size: 24px;
    letter-spacing: -.48px;
    color: #484848;
}

.domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .additional-point[_ngcontent-wkq-c228], .domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .arrival-point[_ngcontent-wkq-c228], .domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .departure-point[_ngcontent-wkq-c228], .domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .inner-point[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .additional-point[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .arrival-point[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .departure-point[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .inner-point[_ngcontent-wkq-c228] {
    width: 4px;
    height: 4px;
}

.flight-line .departure-line {
    border: 1px dashed #ffccaf;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.flight-line[_ngcontent-wkq-c228] .arrival-line[_ngcontent-wkq-c228], .flight-line[_ngcontent-wkq-c228] .departure-line[_ngcontent-wkq-c228] {
    margin: 0 4px;
}

.domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .flight[_ngcontent-wkq-c228], .domestic[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .flight[_ngcontent-wkq-c228] img[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .flight[_ngcontent-wkq-c228], .one-way[_ngcontent-wkq-c228] .flight-line[_ngcontent-wkq-c228] .flight[_ngcontent-wkq-c228] img[_ngcontent-wkq-c228] {
    width: 13px;
    height: 13px;
}

.flight-line[_ngcontent-wkq-c228] .departure-point[_ngcontent-wkq-c228], .flight-line[_ngcontent-wkq-c228] .flight[_ngcontent-wkq-c228] {
    width: 18px;
    height: 18px;
}

.flight-line .flight {
    width: 25px;
    height: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.flight-line .arrival-line {
    height: 1px;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-color: #eee;
}

.flight-line[_ngcontent-wkq-c228] .additional-point[_ngcontent-wkq-c228], .flight-line[_ngcontent-wkq-c228] .arrival-point[_ngcontent-wkq-c228], .flight-line[_ngcontent-wkq-c228] .inner-point[_ngcontent-wkq-c228] {
    width: 6px;
    height: 6px;
}

.flight-line .arrival-point {
    width: 9px;
    height: 9px;
    background-color: #484848;
    border-radius: 25px;
}

.f-arr-code[_ngcontent-wkq-c228], .f-dep-code[_ngcontent-wkq-c228] {
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.28px;
    color: #646464;
}

.f-duration[_ngcontent-wkq-c228] {
    font-size: 12px;
    letter-spacing: -.24px;
    text-align: center;
    color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
}

.one-way[_ngcontent-wkq-c228] .f-price-c[_ngcontent-wkq-c228] {
    padding: 16px 24px;
}

.f-info[_ngcontent-wkq-c228] button .mat-button-wrapper, .f-price-c[_ngcontent-wkq-c228] {
    display: -ms-flexbox;
    display: flex;
}

.f-price-c[_ngcontent-wkq-c228] {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    border-top: 1px solid rgba(108,132,250,.08);
}

.f-price-c[_ngcontent-wkq-c228] .f-class[_ngcontent-wkq-c228] {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
    color: #3a98b9;
}

.f-price-c[_ngcontent-wkq-c228] .f-price[_ngcontent-wkq-c228] {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -.36px;
    color: #3a98b9;
}